{% load django_vite %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Loan Courchinoux-Billonnet">

    {% vite_hmr_client %}
    {% vite_asset 'main.ts' %}

    <!-- Title & Favicon -->
    <title>SortCost</title>
    <!-- TODO favicon -->
</head>

<body>
  {% block inertia %}{% endblock %}
</body>

</html>